* {
    box-sizing: border-box;
}

.control-panel {
    /* display: flex;
    flex-direction: column; */
    height: 500px;
    width: 500px;
    padding: 40px;
    background-color: coral;
    position: absolute;
    z-index: 2;
}

.button {
    margin: 5px;
}

input[type=radio] {
    display: inline;
}



.grid-panel {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    background-color: yellow;
    position: absolute;
    z-index: 0;
}

.grid-row {
    display: flex;
    flex-direction: row;
    background-color: pink;
    flex: 1;
}

.grid-unit-empty {
    color: red;
    background-color: blue;
    margin: 1px;
    flex: 1;
}

.grid-unit-snake {
    color: red;
    background-color: red;
    margin: 1px;
    flex: 1;
}

.grid-unit-food {
    color: red;
    background-color: yellowgreen;
    margin: 1px;
    flex: 1;
}


.end-panel {
    height: 200px;
    width: 300px;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 0;
    background-color: darkorchid;
    padding: 50px;
}

.score-container {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 500px;
    top: 500px;
    position: absolute;
    z-index: 3;
    color: black;
    background-color: darkgray;
}

.score-left {
    display: flex;
    flex: 1;
}

.score-right {
    display: flex;
    flex: 1;
}


