* {
  box-sizing: border-box;
  
}

body {
  font-family: 'Courier New', monospace;
  font-size: 1.3em;
}

input, textarea, button {
  font-family: inherit;
  font-size: inherit;
}

.panel-container {
  display: flex;
  height: 800px;
  width: 800px;
  align-items: center;
  justify-content: center;
} 

/* TODO: rename to "settings panel" */
.control-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 800px;
  width: 800px;
  background-color: whitesmoke;
  position: absolute;
  z-index: 2;
  border-radius: 8px;
  border: 2px solid mediumseagreen;
}

.radio-section-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.radio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
}

.radio-group {
  display: flex;
  flex-direction: column;
}


.grid-panel {
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 800px;
  background-color: whitesmoke;
  position: absolute;
  z-index: 0;
  border-radius: 8px;
  border: 2px solid mediumseagreen;
}

.grid-row {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  flex: 1;
  border-radius: 8px;
}

.grid-unit-empty {
  background-color: whitesmoke;
  flex: 1;
  border-radius: 8px;
  margin: 2px;
  transition: all 100ms ease;
}

.grid-unit-snake {
  background-color: mediumseagreen;
  flex: 1;
  border-radius: 8px;
  margin: 2px;
  transition: all 100ms ease;
}

.grid-unit-food {
  background-color: gold;
  flex: 1;
  border-radius: 8px;
  box-shadow: inset 0 0 0 2px goldenrod;
  margin: 2px;
  transition: all 100ms ease;
}


.popup-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 800px;
  width: 800px;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.popup-end {
  display: flex;
  flex-direction: column;
  flex: initial;
  height: 200px;
  width: 350px;
  align-items: center;
  justify-content: center;
  /* z-index: 0; */
  background-color: lightgray;
  border-radius: 8px;
  border: 2px solid mediumseagreen;
  padding: 1em;
}


.score-container {
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 800px;
  top: 809px;
  position: absolute;
  z-index: 3;
  /* color: black; */
  background-color: whitesmoke;
  border-radius: 8px;
  border: 2px solid goldenrod;
  align-items: center;
  justify-content: center;
}

.score-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* padding:  */
  align-items: center;
  justify-content: center;
}

.score-mid {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.score-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.score-label {
  margin: 0.4em;
  font-weight: bold;
}










/* based from open source: https://codepen.io/triss90/pen/XNEdRe */
.radio {
  margin: 0.5rem;
}
.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.radio input[type="radio"] + .radio-label:before {
  content: '';
  background: whitesmoke;
  border-radius: 100%;
  border: 1px solid gray;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 0.5em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 150ms ease;
}

.radio input[type="radio"]:checked + .radio-label:before {
  background-color: mediumseagreen;
  box-shadow: inset 0 0 0 4px whitesmoke;
}


/* and another open source: https://codepen.io/simonbusborg/pen/cyxad */
.button {
  display: flex;
  margin: 1em;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 150ms ease;
  text-align: center;
  border: none;
  border-radius: 1em;
  color: whitesmoke;
  background-color: mediumseagreen;
  /* justify-content: center;
  align-items: center; */
  /* flex: 0 0 160px; */
  /* box-shadow: 2px 5px 10px #416dea; */
}

.button:hover {
  transition: all 150ms ease;
  opacity: 0.85;
}
.button:active {
  transition: all 150ms ease;
  opacity: 0.75;
}