* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
}

.control-panel {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    padding: 40px;
    background-color: coral;
    position: absolute;
    z-index: 2;
}

.button {
    margin: 5px;
}

input[type=radio] {
    display: inline;
}



.grid-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    background-color: yellow;
    position: absolute;
    z-index: 1;
}

.grid-row {
    display: flex;
    flex-direction: row;
    background-color: pink;
    flex: 1;
}

.grid-unit-empty {
    color: red;
    background-color: blue;
    margin: 1px;
    flex: 1;
}

.grid-unit-snake {
    color: red;
    background-color: red;
    margin: 1px;
    flex: 1;
}

.grid-unit-food {
    color: red;
    background-color: yellowgreen;
    margin: 1px;
    flex: 1;
}

